.card{
    overflow: hidden;

    .card-text{
        position: absolute;
        margin: 10px;
        width: 40%;
        h2{
            margin-top: 35%;
            font-weight: 700;
            text-align: center;
        }
    
        h5{
            text-align: center;
        }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}