<div class="articulos-container">
    <article>
        <h1>¿Quiénes somos?</h1>
        <p>
            Mario Usero: Shopping & Stylism es la plataforma online de compras de ropa de alta calidad y estilo vanguardista.
            Como parte de la gran multinacional Mario Usero S.L., nos esforzamos por ofrecer una experiencia de compra excepcional
            y satisfacer las necesidades y expectativas de nuestros clientes más exigentes.
        </p>
    </article>
    <article>
        <h1>¿Qué ofrecemos?</h1>
        <p>
            En Mario Usero: Shopping & Stylism,
            creemos que la moda es una forma de arte y expresión personal, y nos dedicamos a brindar una selección cuidadosamente curada de prendas 
            y accesorios para ayudar a nuestros clientes a definir su estilo único. Ofrecemos prendas para todos los géneros, tallas y gustos.
            Además ofrecemos a nuestros clientes consejos de moda de mano de los mayores expertos del sector.
        </p>
    </article>
    <article>
        <h1>Loading...</h1>
        <p>
            Actualmente nuestra página se encuentra en modo Beta, lo que significa que seguimos trabajando para brindarles la mejor experiencia de compra online.
            Somos conscientes de que aún no disponemos de stock en nuestro catálogo online, pero les aseguramos que muy pronto estaremos actualizando, no solo el stock,
            si no tambíen nuestro catálogo de prendas.
            Agradecemos su paciencia y esperamos que sigan disfrutando de nuestro sitio web mientras trabajamos para mejorarlo. 
            ¡Manténganse al tanto de nuestras actualizaciones para no perderse las últimas tendencias en moda!
        </p>
    </article>
    <article>
        <h1>Coming soon</h1>
        <p>
            ¡Buenas noticias para nuestros clientes amantes de la moda! En Mario Usero: Shopping & Stylism estamos trabajando en una nueva sección 
            en nuestra página web que será un blog de moda con consejos y trucos de los mejores expertos del sector. 
            Estamos entusiasmados por la oportunidad de ofrecer a nuestros clientes una experiencia exclusiva que les permita estar al día con 
            las últimas tendencias y estilos. Sabemos que muchos de ustedes están ansiosos por conocer más detalles sobre el blog, y les prometemos 
            que en breve compartiremos más información sobre su lanzamiento. ¡Estén atentos y prepárense para sumergirse en el fascinante 
            mundo de la moda con nosotros!
        </p>
    </article>
</div>
