<header class="promo_header">
    <span>ENVÍO GRATUITO EN PEDIDOS SUPERIORES A 50€</span>
</header>
<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navigationBar">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['']">
            <img src="assets/MU_Logo.png" alt="Logo" width="120" height="100" class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" aria-current="page" [routerLink]="['']">Home</a>
                </li>
                <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catálogo
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Hombres</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Mujeres</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Kids</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['nosotros']">Nosotros</a>
                </li>
            </ul>
            <span class="nav-bar-title">Shopping & Stylism</span>
            <div class="nav-bar-icons">
                <fa-icon id="search" [icon]="faMagnifyingGlass"></fa-icon>
                <fa-icon id="user" [icon]="faUser"></fa-icon>
                <fa-icon id="like" [icon]="faHeart"></fa-icon>
                <div class="shopping-cart">
                    <fa-icon id="cart" [icon]="faCartShopping"></fa-icon>
                    <span id="cart-count">0</span>
                </div>
            </div>
        </div>
    </div>
</nav>