.promo_header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000); 
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    span{
        color: white;
    }
}

#navigationBar{
    display: inline-block;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 120px;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;

    .navbar-nav{
        font-weight: 700;
        gap: 20px;
        margin-left: 20px;

        li.active > a{
            color: rgb(248, 82, 82);
            text-decoration: underline;
            text-decoration-color: rgb(248, 82, 82);
            text-decoration-thickness: 2px;
        }

        li{
            ul{
                display: none;
                position: absolute;
            }

            &:hover > ul{
                display: block;

                li{
                    ul{
                        background-color: #fff;
                        border: solid 1px rgb(171, 169, 169);
                        border-radius: 10px;
                        min-width: 170px;
                        min-height: 150px;
                        padding: 10px;
                        font-weight: 400;
                        right: -170px;
                        top: 0px;
                        list-style: none;

                        li{
                            width: 100%;
                            margin: 5px;
                        
                            &:hover{
                                font-weight: 700;
                            }
                        
                            a{
                                color: black;
                                text-decoration: none;
                            }
                        }
                    }

                    .dropdown-mujeres{
                        top: 32px;
                    }

                    .dropdown-kids{
                        top: 64px;
                    }
                }
            }
        }
    }

    .nav-bar-title{
        font-weight: 900;
        margin: 0 auto;
        font-family: 'Dancing Script', cursive;
        font-size: 3rem;
        padding-right: 300px;
    }

    .nav-bar-icons{
        display: flex;
        gap: 30px;
        font-size: 1.2rem;

        fa-icon{
            &:hover{
                font-weight: 900;
                transform: scale(1.1);
            }
        }


        .shopping-cart{
            position: relative;
            display: inline-block;

            &:hover{
                font-weight: 900;
                transform: scale(1.1);
            }
            

            #cart-count{
                position: absolute;
                top: -10px;
                right: -10px;
                background-color: red;
                color: white;
                font-size: 12px;
                font-weight: 700;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                padding-left: 6px;
            }
        }
    }
}