<footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div id="copyright" class="col-md-4">
                <p>&copy; {{ currentYear }} Mario Usero S.L.</p>
            </div>
            <div id="logo-footer" class="col-md-4">
                <img src="assets/MU_Logo_Small.png" alt="Logo de Mario Usero S.L." width="100">
            </div>
            <div id="address" class="col-md-4">
                <p>Calle Juan Carlos I, 22 <br/>Murcia, España</p>
            </div>
        </div>
    </div>
</footer>